/*----------------------------------------------------------------
    Fonts
----------------------------------------------------------------*/
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/*----------------------------------------------------------------
    Reset Style
----------------------------------------------------------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

ul li,
ol li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

a,
a:visited {
  text-decoration: none;
}

img {
  vertical-align: top;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

/*----------------------------------------------------------------
    Global
----------------------------------------------------------------*/
html, body {
  height: 100%;
  color: #4b4b4b;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: .15px;
  background-color: #F5F5F5;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.img-cover {
  position: relative;
}

.img-cover img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.s-header {
  margin-bottom: 30px;
}

.title {
  display: inline-block;
  margin-bottom: 25px;
  padding-left: 25px;
  color: #4b4b4b;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  background: url("../img/icons/chevron_left.svg") left center/6px 9px no-repeat, url("../img/icons/chevron_right.svg") left 4px center/9px 13px no-repeat;
}

@media (max-width: 420px) {
  .title {
    margin-bottom: 20px;
  }
}

.subtitle {
  max-width: 580px;
  color: #02133C;
  font-weight: 900;
  font-size: 36px;
}

@media (max-width: 420px) {
  .subtitle {
    font-size: 30px;
  }
}

/*----------------------------------------------------------------
    Forms
----------------------------------------------------------------*/
.btn {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  padding: 0 50px 0 20px;
  color: #fff;
  font-family: inherit;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  cursor: pointer;
  background: #c40b0b;
  overflow: hidden;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: -8px;
  z-index: 0;
  width: 43px;
  height: 100%;
  -webkit-transform: skew(160deg);
          transform: skew(160deg);
  background: #e30b0b;
  -webkit-transition: all .7s;
  transition: all .7s;
}

.btn::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 0;
  width: 15px;
  height: 15px;
  background: url("../img/icons/arrow.svg") center/cover no-repeat;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media (min-width: 768px) {
  .btn:hover::before, .btn:focus::before {
    width: 120%;
  }
}

/*----------------------------------------------------------------
    Intro
----------------------------------------------------------------*/
.intro {
  position: relative;
  min-height: 100vh;
  height: 550px;
}

@media (max-width: 767px) {
  .intro {
    min-height: 650px;
  }
}

@media (max-width: 767px) and (min-height: 720px) {
  .intro {
    min-height: 800px;
  }
}

.intro__container {
  width: 100%;
}

.intro__content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 120px;
}

.intro__title {
  margin-bottom: 55px;
  color: #fff;
  font-size: 56px;
  line-height: 56px;
  font-weight: 700;
}

@media (max-width: 420px) {
  .intro__title {
    font-size: 37px;
    line-height: 1.2;
  }
}

.slider-intro {
  overflow: hidden;
  height: 100%;
}

.slider-intro__list {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.slider-intro__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.slider-intro__photo {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

/*----------------------------------------------------------------
    Main Header
----------------------------------------------------------------*/
.main-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.main-header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 28px 0;
  color: #fff;
}

@media (max-width: 767px) {
  .main-header__top {
    padding: 15px 0;
  }
}

.main-header__logo {
  margin-right: auto;
}

.main-header__work {
  cursor: pointer;
  background: url("../img/icons/time.svg") left top 5px no-repeat;
}

.main-header__title {
  text-transform: uppercase;
}

.main-header__call {
  color: #fff;
  background: url("../img/icons/phone.svg") left top 5px no-repeat;
}

.main-header__work, .main-header__call {
  margin-right: 30px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.15px;
}

.main-header__work span, .main-header__call span {
  display: block;
}

@media (max-width: 920px) {
  .main-header__work, .main-header__call {
    font-size: 0;
    margin-right: 20px;
    letter-spacing: 0;
    background-position: right center;
  }
}

@media (max-width: 520px) {
  .main-header__call {
    margin-right: 0;
  }
}

@media (max-width: 520px) {
  .main-header__btn {
    display: none;
  }
}

.main-header__bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 40px;
  background-color: #f0f0f0;
}

@media (max-width: 767px) {
  .main-header__bottom {
    min-height: 48px;
    margin: 0 -15px;
    padding: 0 25px 0 20px;
  }
}

.main-header__nav {
  margin-right: 50px;
}

@media (max-width: 767px) {
  .main-header__nav {
    position: absolute;
    top: -1000px;
    left: 0;
    z-index: 100;
    width: 100%;
    margin: 0;
    background-color: #fff;
    opacity: 0;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    overflow: auto;
  }
  .main-header__nav.active {
    top: 100%;
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .main-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
}

@media (max-width: 920px) {
  .logo {
    font-size: 20px;
  }
}

.logo__img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  fill: #C40B0B;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 60px;
}

@media (max-width: 767px) {
  .nav-list__item {
    border-top: 1px solid #ecebeb;
  }
  .nav-list__item:last-child {
    border-bottom: 1px solid #ecebeb;
  }
}

.nav-list__item--menu {
  position: relative;
  cursor: pointer;
}

@media (min-width: 768px) {
  .nav-list__item--menu:hover .sub-nav {
    display: block;
  }
}

.nav-list__link {
  line-height: 60px;
  padding: 0 23px;
}

@media (max-width: 767px) {
  .nav-list__link {
    padding: 10px 15px;
    line-height: 24px;
    text-transform: uppercase;
  }
}

.spoller {
  position: relative;
}

.spoller:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  width: 8px;
  height: 5px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  background: url("../img/icons/expand.svg") center/cover no-repeat;
}

@media (max-width: 767px) {
  .spoller:after {
    right: 25px;
    width: 12px;
    height: 10px;
  }
}

.spoller.active::after {
  -webkit-transform: rotateX(180deg) translate(0, 50%);
          transform: rotateX(180deg) translate(0, 50%);
}

.sub-nav {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  min-width: 200px;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
  border-top: 2px solid #dbdbdb;
  background-color: #f0f0f0;
}

@media (max-width: 767px) {
  .sub-nav {
    position: static;
    border: none;
  }
}

.sub-nav__link {
  padding: 7px 10px 7px 23px;
  line-height: 25px;
}

.nav-list__link,
.sub-nav__link {
  display: block;
  color: #02133C;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.15px;
  -webkit-transition: background .3s, color .3s;
  transition: background .3s, color .3s;
}

.nav-list__link:hover, .nav-list__link:focus,
.sub-nav__link:hover,
.sub-nav__link:focus {
  color: #C40B0B;
  background-color: #fff;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-header__basket {
  position: relative;
}

.counter {
  position: absolute;
  top: -2px;
  right: -6px;
  width: 14px;
  height: 14px;
  color: #fff;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  pointer-events: none;
  border-radius: 50%;
  background-color: #C40B0B;
}

.basket-btn {
  width: 24px;
  height: 22px;
  font-size: 0;
  background: transparent url("../img/icons/shopping.svg") center/cover no-repeat;
  cursor: pointer;
}

.search {
  position: relative;
  top: 3px;
  height: 30px;
  margin-right: 20px;
  font-size: 0;
}

.search.active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.search__input {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
  width: 0;
  height: 100%;
  padding: 0 20px;
  font-size: 16px;
  color: #02133C;
  background-color: transparent;
  -webkit-transition: background .3s;
  transition: background .3s;
  cursor: pointer;
}

.search__input.active {
  width: 100%;
  z-index: 103;
  background-color: #fff;
  cursor: initial;
}

.search__input.active + .search__btn {
  z-index: 105;
  right: 15px;
}

.search__btn {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 0;
  display: block;
  width: 18px;
  height: 18px;
  -webkit-transform: translate(0, -55%);
          transform: translate(0, -55%);
  font-size: inherit;
  cursor: pointer;
  background: transparent url("../img/icons/search.svg") center/cover no-repeat;
}

.burger {
  position: relative;
  z-index: 102;
  display: none;
  width: 25px;
  height: 14px;
  font-size: 0;
  color: transparent;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background-color: transparent;
}

@media (max-width: 767px) {
  .burger {
    display: block;
  }
}

.burger::before, .burger:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.burger::before {
  top: -1px;
}

.burger::after {
  bottom: -1px;
}

.burger span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  margin-top: -1px;
  background-color: #000;
}

.burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.burger.active::before, .burger.active:after {
  width: 70%;
  border-radius: 2px;
}

.burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 6px;
}

.burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 6px;
}

/*----------------------------------------------------------------
    Modal windows
----------------------------------------------------------------*/
.modal {
  position: fixed;
  z-index: 110;
  display: none;
  background-color: #fdfeff;
  -webkit-box-shadow: 0 5px 25px rgba(93, 93, 93, 0.76);
          box-shadow: 0 5px 25px rgba(93, 93, 93, 0.76);
}

.modal__content {
  height: 100%;
  overflow-y: auto;
}

.modal--basket {
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  -webkit-animation-name: show-right;
          animation-name: show-right;
  -webkit-animation-duration: .6s;
          animation-duration: .6s;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.5, 0.5, 0.9);
          animation-timing-function: cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

@media (max-width: 920px) {
  .modal--basket {
    width: calc(80% - 25px);
  }
}

@media (max-width: 767px) {
  .modal--basket {
    width: calc(100% - 30px);
  }
}

.modal--basket .modal__close {
  left: -25px;
}

@media (max-width: 767px) {
  .modal--basket .modal__close {
    left: -30px;
  }
}

.modal--appoint {
  top: 50%;
  left: 50%;
  height: clamp(1px, 560px, 100vh);
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-name: show-scale;
          animation-name: show-scale;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.5, 0.5, 0.9);
          animation-timing-function: cubic-bezier(0.25, 0.5, 0.5, 0.9);
  background: #02133C url("../img/bg-top.png") top right/80% no-repeat;
}

@media (max-width: 920px) {
  .modal--appoint {
    width: 70%;
  }
}

@media (max-width: 767px) {
  .modal--appoint {
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    width: calc(100% - 30px);
    height: 100%;
    -webkit-animation-name: show-left;
            animation-name: show-left;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.5, 0.5, 0.9);
            animation-timing-function: cubic-bezier(0.25, 0.5, 0.5, 0.9);
  }
}

@media (max-width: 767px) {
  .modal--appoint .appoint {
    padding: 30px 15px;
  }
}

@media (max-width: 420px) {
  .modal--appoint .appoint__title {
    font-size: 30px;
  }
}

@media (max-width: 575px) {
  .modal--appoint .appoint__form {
    display: block;
  }
}

.modal--time {
  top: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-animation: fade .4s;
          animation: fade .4s;
  border-radius: 2px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 105;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
}

.modal-show {
  display: block;
}

.modal__close {
  position: absolute;
  top: 0;
  right: -25px;
  width: 25px;
  height: 25px;
  background: #c40b0b url("../img/icons/close.svg") center/73% no-repeat;
  cursor: pointer;
}

@media (max-width: 767px) {
  .modal__close {
    right: -30px;
    width: 30px;
    height: 30px;
  }
}

.basket {
  padding: 15px;
}

.basket__empty {
  min-width: 350px;
  min-height: 500px;
  text-align: center;
  font-size: 25px;
  background: url("../img/icons/basket.svg") bottom center no-repeat;
}

@media (max-width: 420px) {
  .basket__empty {
    min-width: 100%;
  }
}

.basket__empty span {
  display: inline-block;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1;
}

.basket__empty .text {
  font-size: 18px;
}

@-webkit-keyframes show-right {
  0% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes show-right {
  0% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes show-left {
  0% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes show-left {
  0% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes show-scale {
  0% {
    -webkit-transform: translate(-50%, -150%) scale(0);
            transform: translate(-50%, -150%) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes show-scale {
  0% {
    -webkit-transform: translate(-50%, -150%) scale(0);
            transform: translate(-50%, -150%) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.appoint {
  padding: 40px 25px 30px;
}

.appoint__titles {
  margin-bottom: 60px;
  color: #bbb7b7;
  line-height: 1;
  text-align: center;
}

.appoint__title {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
}

.appoint__subtitle {
  max-width: 70%;
  margin: 0 auto;
  font-size: 12px;
}

.form-appoint {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
}

.form-appoint__group {
  margin-bottom: 25px;
}

.form-appoint__group--text, .form-appoint__group:last-child {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.form-appoint__group:last-child {
  text-align: center;
  margin-bottom: 0;
}

.form-appoint__input, .form-appoint__select {
  display: inline-block;
  height: 40px;
  width: 100%;
  padding: 0 15px;
  font-size: 18px;
  color: #656565;
  border: 1px solid #888888;
  background-color: #F5F5F5;
  -webkit-transition: border-color .3s, background .3s;
  transition: border-color .3s, background .3s;
}

.form-appoint__input::-webkit-input-placeholder, .form-appoint__select::-webkit-input-placeholder {
  font-size: 14px;
  color: #8a8a8a;
}

.form-appoint__input:-ms-input-placeholder, .form-appoint__select:-ms-input-placeholder {
  font-size: 14px;
  color: #8a8a8a;
}

.form-appoint__input::-ms-input-placeholder, .form-appoint__select::-ms-input-placeholder {
  font-size: 14px;
  color: #8a8a8a;
}

.form-appoint__input::placeholder, .form-appoint__select::placeholder {
  font-size: 14px;
  color: #8a8a8a;
}

.form-appoint__select {
  font-family: inherit;
  font-size: 14px;
  color: #8a8a8a;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: border-color .3s, background .3s;
  transition: border-color .3s, background .3s;
}

.form-appoint__select option {
  font-size: 16px;
  color: #656565;
}

.form-appoint__text {
  width: 100%;
  height: 100%;
  min-height: 150px;
  padding: 15px;
  border: 1px solid #888888;
  background-color: #F5F5F5;
  -webkit-transition: border-color .3s, background .3s;
  transition: border-color .3s, background .3s;
  resize: none;
}

.form-appoint__text::-webkit-input-placeholder {
  font-family: inherit;
  font-size: 14px;
  color: #8a8a8a;
}

.form-appoint__text:-ms-input-placeholder {
  font-family: inherit;
  font-size: 14px;
  color: #8a8a8a;
}

.form-appoint__text::-ms-input-placeholder {
  font-family: inherit;
  font-size: 14px;
  color: #8a8a8a;
}

.form-appoint__text::placeholder {
  font-family: inherit;
  font-size: 14px;
  color: #8a8a8a;
}

.form-appoint__text:focus::-webkit-input-placeholder, .form-appoint__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.form-appoint__text:focus:-ms-input-placeholder, .form-appoint__input:focus:-ms-input-placeholder {
  color: transparent;
}

.form-appoint__text:focus::-ms-input-placeholder, .form-appoint__input:focus::-ms-input-placeholder {
  color: transparent;
}

.form-appoint__text:focus::placeholder, .form-appoint__input:focus::placeholder {
  color: transparent;
}

.form-appoint__text:focus, .form-appoint__input:focus, .form-appoint__select:focus {
  border-color: #4d4de7;
  background-color: #fff;
}

.form-appoint__btn {
  min-width: 150px;
}

.work-time {
  width: 250px;
  text-align: center;
}

.work-time__title {
  padding: 15px 0;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  border-bottom: 1px solid #cecece;
}

.work-time span {
  display: inline-block;
  margin-bottom: 15px;
  color: #000;
  font-size: 16px;
}

.work-time__info {
  padding: 20px 10px;
  font-size: 12px;
}

/*----------------------------------------------------------------
    About
----------------------------------------------------------------*/
.about {
  max-width: 1020px;
  margin: 0 auto 180px;
  padding: 0 85px;
  -webkit-transform: translate(0, -40px);
          transform: translate(0, -40px);
  -webkit-transition: opacity .4s, -webkit-transform .4s ease-in;
  transition: opacity .4s, -webkit-transform .4s ease-in;
  transition: transform .4s ease-in, opacity .4s;
  transition: transform .4s ease-in, opacity .4s, -webkit-transform .4s ease-in;
  background: #fff url("../img/bg-top.png") right top no-repeat;
}

@media (min-height: 800px) {
  .about {
    -webkit-transform: translate(0, -80px);
            transform: translate(0, -80px);
    margin: 0 auto 140px;
  }
}

@media (max-width: 1070px) {
  .about {
    margin: 0 25px 150px;
    padding: 0 45px;
  }
}

@media (max-width: 920px) {
  .about {
    background-size: 80%;
  }
}

@media (max-width: 767px) {
  .about {
    margin: 0 0 150px;
  }
}

@media (max-width: 575px) {
  .about {
    margin: 0 0 90px;
    padding: 0 15px;
  }
}

.about.hide {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 0;
}

.about.hide .about__inner {
  -webkit-transform: translate(0, 150px);
          transform: translate(0, 150px);
  opacity: 0;
}

.about.hide .about__img {
  top: 100px;
}

.about__inner {
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
  -webkit-transition: opacity 1.2s,  -webkit-transform 1.2s ease-in-out;
  transition: opacity 1.2s,  -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out,  opacity 1.2s;
  transition: transform 1.2s ease-in-out,  opacity 1.2s,  -webkit-transform 1.2s ease-in-out;
}

@media (max-width: 1070px) {
  .about__inner {
    -webkit-transform: translate(0, 70px);
            transform: translate(0, 70px);
  }
}

@media (max-width: 575px) {
  .about__inner {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
}

.about__text {
  margin-bottom: 35px;
  line-height: 24px;
}

.about__img {
  top: 20px;
  padding-bottom: 49.42%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 575px) {
  .about__img {
    top: 10px;
    min-height: 350px;
    margin: 0 -15px;
  }
}

/*----------------------------------------------------------------
    Promise section
----------------------------------------------------------------*/
.promise__container {
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  .promise__container {
    margin-bottom: 50px;
  }
}

.promise__titles {
  margin-bottom: 60px;
}

@media (max-width: 575px) {
  .promise__titles {
    margin-bottom: 40px;
  }
}

.promise__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -14px;
}

@media (max-width: 920px) {
  .promise__list {
    margin: 0 -10px;
  }
}

@media (max-width: 575px) {
  .promise__list {
    margin: 0;
  }
}

.promise__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin-bottom: 35px;
  padding: 0 14px;
}

@media (max-width: 1020px) {
  .promise__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .promise__item:last-child {
    margin: 0 auto;
  }
}

@media (max-width: 920px) {
  .promise__item {
    padding: 0 10px;
  }
}

@media (max-width: 575px) {
  .promise__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0;
  }
}

.promise__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
}

.promise__video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.promise__promo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 15px;
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.promise__promo.active {
  z-index: 0;
  opacity: 0;
  -webkit-transition: z-index .8s, opacity .5s;
  transition: z-index .8s, opacity .5s;
}

@media (min-width: 768px) {
  .promise__promo {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.promise__inner {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1020px) {
  .promise__inner {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 767px) {
  .promise__inner {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90%;
            flex: 0 1 90%;
  }
}

.promise__video-title {
  max-width: 410px;
  margin-bottom: 25px;
  color: #fff;
  font-size: 36px;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0px;
}

@media (max-width: 420px) {
  .promise__video-title {
    font-size: 32px;
  }
}

.promise__btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  display: block;
  width: 75px;
  height: 75px;
  font-size: 0;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.promise__btn::before, .promise__btn::after {
  content: "";
  position: absolute;
  top: -14px;
  left: -14px;
  right: -14px;
  bottom: -14px;
  z-index: -1;
  border-radius: 50%;
  border: 14px solid rgba(255, 255, 255, 0.3);
  opacity: 0;
  -webkit-animation-name: scale-btn;
          animation-name: scale-btn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.promise__btn:after {
  border: 14px solid rgba(255, 255, 255, 0.2);
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.promise__btn span:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 0 14px 22px;
  border-color: transparent transparent transparent #c40b0b;
}

@media (max-width: 767px) {
  .promise__btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.card-promise {
  height: 100%;
  padding-left: 86px;
  padding-top: 5px;
}

.card-promise--q {
  background: url("../img/promise/quality.svg") left top no-repeat;
}

.card-promise--s {
  background: url("../img/promise/certified.svg") left top no-repeat;
}

.card-promise--r {
  background: url("../img/promise/team.svg") left top no-repeat;
}

@media (max-width: 920px) {
  .card-promise {
    padding-left: 70px;
    background-size: 55px auto;
  }
}

.card-promise__title {
  margin-bottom: 15px;
  color: #02133C;
  font-size: 19px;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 0px;
}

.card-promise__text {
  line-height: 24px;
}

@-webkit-keyframes scale-btn {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes scale-btn {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

/*----------------------------------------------------------------
    Service
----------------------------------------------------------------*/
.service {
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
  background: url("../img/bg-top-l.png") left top -10px no-repeat, url("../img/bg-bottom.png") right bottom no-repeat;
}

@media (max-width: 767px) {
  .service {
    padding: 60px 0;
    background-size: 60%;
  }
}

@media (max-width: 575px) {
  .service {
    background-size: 80%;
  }
}

@media (max-width: 420px) {
  .service {
    background-size: 90%;
  }
}

.service__titles {
  margin-bottom: 75px;
  text-align: left;
}

@media (max-width: 767px) {
  .service__titles {
    margin-bottom: 30px;
  }
}

.service__slider {
  position: relative;
  margin: 0 -12px 50px;
}

@media (max-width: 767px) {
  .service__slider {
    overflow: hidden;
    margin-bottom: 30px;
  }
}

.service__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media (min-width: 768px) {
  .service__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }
}

.service__column {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

@media (min-width: 768px) {
  .service__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0 12px;
    margin-bottom: 24px;
  }
}

@media (min-width: 1020px) {
  .service__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
}

.service__item {
  display: block;
  height: 100%;
  padding: 30px 20px;
  color: inherit;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

@media (min-width: 768px) {
  .service__item {
    padding: 50px 30px;
  }
  .service__item:hover, .service__item:focus {
    -webkit-box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
            box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
  }
}

@media (max-width: 420px) {
  .service__item {
    padding: 25px 10px;
  }
}

.service__content {
  padding-top: 100px;
}

.service__content--inspect {
  background: url("../img/service/bay.svg") center top no-repeat;
}

.service__content--repair {
  background: url("../img/service/engine.svg") center top no-repeat;
}

.service__content--maint {
  background: url("../img/service/breaks.svg") center top no-repeat;
}

.service__content--tires {
  background: url("../img/service/tires.svg") center top no-repeat;
}

.service__content--warranty {
  background: url("../img/service/check.svg") center top no-repeat;
}

.service__content--shop {
  background: url("../img/service/shopping.svg") center top no-repeat;
}

.service__title {
  margin-bottom: 15px;
  font-size: 19px;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
}

.service__text {
  line-height: 24px;
}

/*----------------------------------------------------------------
    Feedback                                                                
----------------------------------------------------------------*/
.feedback {
  background-color: #02133C;
}

.feedback__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background: url("../img/bg-top.png") right top no-repeat, url("../img/bg-bottom.png") left bottom no-repeat;
  padding: 100px 0 210px;
}

@media (max-width: 767px) {
  .feedback__wrapper {
    background-size: 60%;
    padding: 60px 0 140px;
  }
}

@media (max-width: 575px) {
  .feedback__wrapper {
    background-size: 80%;
  }
}

@media (max-width: 420px) {
  .feedback__wrapper {
    background-size: 90%;
    padding: 60px 0 100px;
  }
}

.feedback__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 920px) {
  .feedback__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.feedback__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 42.64706%;
          flex: 0 1 42.64706%;
}

.feedback__column--form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 57.35294%;
          flex: 0 1 57.35294%;
}

@media (max-width: 920px) {
  .feedback__column--form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}

@media (max-width: 420px) {
  .feedback__column--form {
    margin: 0 -15px;
  }
}

.served {
  max-width: 340px;
  margin-bottom: 45px;
  color: #fff;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0px;
}

@media (min-width: 920px) {
  .served {
    margin-left: auto;
    padding-left: 15px;
  }
}

.served__title {
  margin-bottom: 35px;
  font-size: 30px;
  line-height: 36px;
}

@media (max-width: 575px) {
  .served__title {
    font-size: 26px;
    margin-bottom: 25px;
  }
}

.served__count {
  margin-bottom: 35px;
  color: #C40B0B;
  font-size: 96px;
  line-height: 56px;
}

@media (max-width: 575px) {
  .served__count {
    font-size: 75px;
    margin-bottom: 25px;
  }
}

.served__subtext {
  font-size: 19px;
  font-weight: 700;
  line-height: 26px;
}

@media (max-width: 575px) {
  .served__subtext {
    font-size: 16px;
  }
}

.appoint--main {
  padding: 60px;
  background-color: #fff;
}

@media (max-width: 575px) {
  .appoint--main {
    padding: 40px 20px;
  }
}

@media (max-width: 420px) {
  .appoint--main {
    padding: 30px 10px;
  }
}

.appoint--main .appoint__titles {
  color: #02133C;
  margin-bottom: 45px;
}

@media (max-width: 575px) {
  .appoint--main .form-appoint {
    display: block;
  }
}

.appoint--main .form-appoint__text, .appoint--main .form-appoint__input, .appoint--main .form-appoint__select {
  border-color: transparent;
}

.appoint--main .form-appoint__text:focus, .appoint--main .form-appoint__input:focus, .appoint--main .form-appoint__select:focus {
  border-color: #dfdede;
}

/*----------------------------------------------------------------
    Broadcast
----------------------------------------------------------------*/
.broadcast {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 180px;
  background: url("../img/bg-bottom.png") left bottom no-repeat;
}

@media (max-width: 1020px) {
  .broadcast {
    padding-bottom: 120px;
  }
}

@media (max-width: 575px) {
  .broadcast {
    padding-bottom: 60px;
  }
}

.broadcast__container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 85px;
  -webkit-transform: translate(0, -40px);
          transform: translate(0, -40px);
  background-color: #fff;
}

@media (max-width: 1070px) {
  .broadcast__container {
    margin: 0 25px;
    padding: 0 45px;
  }
}

@media (max-width: 920px) {
  .broadcast__container {
    background-size: 80%;
  }
}

@media (max-width: 767px) {
  .broadcast__container {
    margin: 0;
    padding: 0 15px;
  }
}

.broadcast__content {
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
}

@media (max-width: 1070px) {
  .broadcast__content {
    -webkit-transform: translate(0, 70px);
            transform: translate(0, 70px);
  }
}

@media (max-width: 575px) {
  .broadcast__content {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
}

.broadcast__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

@media (max-width: 575px) {
  .broadcast__nav {
    margin-bottom: 40px;
  }
}

.broadcast__nav-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  position: relative;
  border-bottom: 1px solid #D5D5D5;
}

@media (min-width: 1020px) {
  .broadcast__nav-col:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
  }
}

@media (max-width: 1020px) {
  .broadcast__nav-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 420px) {
  .broadcast__nav-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.broadcast__btn {
  position: relative;
  display: block;
  width: 100%;
  padding: 15px 10px;
  color: #02133C;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0.15px;
  text-align: center;
  font-weight: 500;
  line-height: 24px;
  background-color: transparent;
  cursor: pointer;
}

.broadcast__btn.active {
  color: #C40B0B;
}

.broadcast__btn.active:after {
  opacity: 1;
}

.broadcast__btn:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #C40B0B;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.broadcast__item {
  padding-bottom: 49.42%;
  background: #fff url("../img/gallery/landscape.svg") center top -5px/contain no-repeat;
}

@media (max-width: 767px) {
  .broadcast__item {
    margin: 0 -15px;
  }
}

@media (max-width: 575px) {
  .broadcast__item {
    min-height: 350px;
  }
}

.broadcast__item.show {
  display: block;
  -webkit-animation: fade .3s;
          animation: fade .3s;
}

.broadcast__item.hide {
  display: none;
}

.broadcast__item--gallery {
  position: relative;
}

.gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery__images, .gallery__img {
  width: 100%;
  height: 100%;
}

.gallery__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.gallery__item {
  min-width: 100%;
}

.gallery__img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.gallery__next, .gallery__prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: none;
  width: 35px;
  height: 35px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 0;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: 768px) {
  .gallery__next, .gallery__prev {
    display: block;
  }
}

.gallery__next {
  right: 5px;
  background: rgba(255, 255, 255, 0.3) url("../img/icons/right-arrow.svg") 57% center/15px 20px no-repeat;
}

.gallery__prev {
  left: 5px;
  background: rgba(255, 255, 255, 0.3) url("../img/icons/left-arrow.svg") 45% center/15px 20px no-repeat;
}

.gallery__pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  .gallery__pagination {
    display: block;
  }
}

.gallery__pagination span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  background: #2d2df5;
}

.led {
  position: relative;
  z-index: -1;
}

.led::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -10px;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #21C613;
}

.led--off::after {
  background-color: #D5D5D5;
}

.led--stream {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 10;
  width: 50px;
  height: 30px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  background-color: #21C613;
  -webkit-box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.24), 0px 8px 16px rgba(38, 38, 38, 0.2);
          box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.24), 0px 8px 16px rgba(38, 38, 38, 0.2);
  border-radius: 1px;
  pointer-events: none;
}

.led--stream:after {
  display: none;
}

.led--stream.led--off {
  background-color: #D5D5D5;
  color: rgba(0, 0, 0, 0.6);
}

/*----------------------------------------------------------------
    Customers
----------------------------------------------------------------*/
.customers {
  padding-bottom: 156px;
}

@media (max-width: 1020px) {
  .customers {
    padding-bottom: 96px;
  }
}

@media (max-width: 575px) {
  .customers {
    padding-bottom: 36px;
  }
}

.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -12px;
}

@media (max-width: 767px) {
  .customers__list {
    margin: 0 -6px;
  }
}

@media (max-width: 575px) {
  .customers__list {
    margin: 0;
  }
}

.customers__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 12px;
  margin-bottom: 24px;
}

@media (max-width: 920px) {
  .customers__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 767px) {
  .customers__column {
    padding: 0 6px;
  }
}

@media (max-width: 575px) {
  .customers__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0;
  }
}

@media (max-width: 920px) {
  .customers__column--head {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 30px;
  }
}

.customers__titles {
  margin-bottom: 0;
}

.customers__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 44px;
  background-color: #fff;
}

@media (max-width: 1020px) {
  .customers__card {
    padding: 34px;
  }
}

@media (max-width: 767px) {
  .customers__card {
    padding: 24px;
  }
}

.customers__text {
  margin-bottom: 35px;
  line-height: 24px;
}

.customers__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}

.customers__photo {
  margin-right: 17px;
  border-radius: 50%;
  overflow: hidden;
}

.customers__photo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.customers__name {
  color: #02133C;
  font-weight: 700;
  line-height: 24px;
}
